@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h4>Are you sure you want to delete this treat?</h4>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to treats", "Index")