@using Bakery.Models;

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" data-toggle="pill" role="tab" href="/">Home</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/flavors">Flavors</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/treats">Treats</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/flavors/create">New Flavor</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/treats/create">New Treat</a>
  <a class="nav-link active" data-toggle="pill" role="tab" href="/account/index">Account</a>

</div>